<div class="topic">
  <div class="row">
    <span>
      <a class="title" data-remote="true" data-topic="<%= topic.id %>" href="<%= topic_path(topic) %>"><%= topic.title %></a>
    </span>
  </div>
  <div class="col-md-12 topic">
    <h4>Focus:
      <%= topic.focus_area %>
    </h4>
    <input class="rating" data-readonly type="hidden" value="<%= topic.rating %>"/>
    <p>
      by
      <%= topic.user.name %>
      <%=time_ago_in_words(topic.created_at)%>
      ago
    </p>
    <span>
      <% if policy(topic).update? %>
      <%= link_to 'edit topic', edit_topic_path(topic), remote: true %>
      <% end %>
      <% if policy(topic).destroy? %>
      <%= link_to 'delete word', topic, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </span>
    <p>
      <%= markdown(topic.description) %>
    </p>
    <% if current_user.interests.where(topic_id: topic.id).where("score is not null") == [] %>
    <%= link_to 'Rate this topic', new_topic_interest_path(topic), class: "btn rating-button", remote: true %>
    <% else %>
    <%= link_to 'Make a comment', new_topic_interest_path(topic), class: "btn rating-button", remote: true %>
    <% end %>
    <div id="interest-form-<%= topic.id %>" style="display:none;" class="interest-form"></div>
  </div>
