<div class="topic">
  <div class="row">
    <span> <a class="title" data-topic="<%= topic.id %>" href="<%= topic_path(topic) %>" data-remote="true"><%= topic.title %></a> </span>
  </div>
  <div class="col-md-12 topic">
    <h4>Focus: <%= topic.focus_area %> </h4>
    <input type="hidden" class="rating" value="<%= topic.rating %>" data-readonly/>

    <p>
      by
      <%= topic.user.name %>
      <%=time_ago_in_words(topic.created_at)%>
      ago
    </p>
    <span>
      <% if policy(topic).update? %>
      <%= link_to 'edit topic', edit_topic_path(topic), remote: true %>
      <% end %>
      <% if policy(topic).destroy? %>
      <%= link_to 'delete word', topic, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </span>
    <p>
      <%= markdown(topic.description) %>
    </p>
    <%= link_to 'Rate this topic', new_topic_interest_path(topic), class: "btn rating-button", remote: true %>
    <div id="interest-form-<%= topic.id %>" style="display:none;"></div>
  </div>
