<div class="navbar navigation">
  <div class="container">
    <div class="navbar-collapse collapse content">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
        <li class="navigation_link"><%= link_to 'Home', topics_path %></li>
        <li class="navigation_link"><%= link_to 'New', newest_topics_path%></li>
        <li id='new_topic' class="navigation_link"><%= link_to 'Add a topic', new_topic_path, remote: true  %></li>
      </li>
    </ul>
    <ul class="nav navbar-nav pull-right">
      <li>
        <form id="search-bar" method="get" action="<%= search_topics_path %>" class="navbar-form pull-right" role="search" data-remote="true">
          <input type="text" class="search-field" placeholder="Search" name="q" >
          <select type="select" class="search-select" name="scope">
            <option value="all" selected>All</option>
            <option value="title">Title</option>
            <option value="focus_area">Focus Area</option>
            <option value="user">User</option>
          </select>
          <button type="submit" class="btn search">Search</button>
        </form>
      </li>
      <li><%= link_to "Logout", destroy_user_session_path, method: :delete, data: { confirm: 'Really logout?' }, class: "navigation_link" %></li>
      <%else%>
      <li><%= link_to 'Create an Account', new_user_registration_path, class: "navigation_link" %></li>
      <%end%>
    </ul>
  </div>
</div>
</div>
