<div class="interest-form">
  <%= form_for([@topic, Interest.new], class: "form-horizontal ", id: "form-interest", remote: true) do |f| %>
  <% unless @rated %>
  <div class="row">
    <p> Rating </p>
    <div class="input-group">
      <%= f.label :score %><br>
      <%= f.hidden_field :score, class: "rating form_control" %>
    </div>
    <% else %>
    <div class="row">
      <% end %>
    </div>
    <div class="row">
      <div class="field">
        <p> Comment </p>
        <%= f.text_area :comment %>
      </div>
    </div>
    <div class="actions">
      <% if @rated %>
      <%= f.submit "Comment", class: "btn interest-button"%>
      <% else %>
      <%= f.submit "Rate", class: "btn interest-button"%>
      <% end %>
    </div>
    <% end %>
  </div>
